fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
requests
boto3
redis
pandas
openpyxl
psycopg[binary]
langchain
langchain-text-splitters
langchain-core
langchain-openai
langchain-chroma
chromadb
langserve[all]
torch
transformers
